.logo{
  height: 50px;
}
.logo h3{
  text-align: center;
  font-weight: bold;
  letter-spacing: 8px;
}
.logo h3:before{
  content: '';
  height: 35px;
  width: 35px;
  position: absolute;
  margin-left: -50px;
  margin-top: -6px;
  background-image: url('../../assets/img/logo.png');
  background-size: 100% 100%;
}
.logo ul{
  float: right;
  margin-top: -35px;
  font-size: 16px;
}
.logo ul li{
  list-style: none;
  float: left;
  margin: 0 0 0 50px;
  cursor: pointer;
}
.logo ul li a{
  color: #000;
  text-decoration: none;
}
.logo ul li a:hover{
  text-decoration: underline;
}
.logo ul li .search-icon{
  display: block;
  width: 50px;
  height: 35px;
  background-image: url("../../assets/img/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -6px;
}
.logo ul li .github-icon:before{
  content: '';
  height: 22px;
  width: 22px;
  position: absolute;
  margin-left: -25px;
  background-image: url('../../assets/img/github.png');
  background-repeat: no-repeat;
}
.search-layout{
  width: 100%;
  height: 50px;
  margin-top: 30px;
}
.search-layout input{
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #000;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
}
.search-layout h4{
  text-align: center;
}
.search-layout h4 span{
  background: #10c513;
  padding: 2px 12px;
  color: #ffffff;
}
.delete-icon{
  display: inline-block;
  width: 20px;
  height: 27px;
  margin-left: 12px;
  background-image: url('../../assets/img/delete.png');
  background-repeat: no-repeat;
}
.list{
  margin-top: 40px;
}
.list p{
  margin: 36px 0 0 0;
  font-size: 14px;
  color: #b2bac2;
}
.list h3{
  margin: 8px 0;
  font-size: 18px;
  font-weight: bold;
}
.list h3 a{
  color:#000;
}
/*.list h3:hover{
  text-decoration: underline;
}*/
.list label{
  font-size: 14px;
  color: #b2bac2;
  font-weight: normal;
  margin: 0;
}
.list span{
  font-size: 14px;
  margin-right: 12px;
  color: #b2bac2;
  cursor: pointer;
}
.list span:hover{
  color: #000000;
}
.list img{
  width: 65px;
  height: 65px;
  float: right;
  margin-top: -42px;
}
.load-tip{
  padding: 60px 0;
  text-align: center;
}
.load-tip button{
  padding: 20px;
  font-size: 16px;
  color: #6b6b6b;
  border-color: #6b6b6b;
  background: #fff;
  outline: none;
  cursor: pointer;
}
.load-tip button:hover{
  color: #000000;
  border-color: #000000;
}
